%h1 Create a Biogem!

%p
  Biogem provides a set of tools for those Bioinformaticans who
  want to start coding an application, or a library for
  using/extending BioRuby's core library and sharing the code as a
  gem through rubygems.org. Biogems are automatically listed at
  biogems.info when the gem is pushed to rubygems.org, using the
  biogem tool, and the name of the gem starts with bio- (bio dash),
  e.g. bio-fasta or bio-gff3.
%p
  // When you use this tool, please cite R. Bonnal et al., Bioinformatics 2012 (submitted).
%p
  Further reading:
%p
  %ul
    %li 
      = link "Biogem README", "/doc/README_rdoc.html"
    %li
      = link "Create a Biogem!", "/doc/Tutorial_rdoc.html"
    %li
      = link "Source code for Biogem", "https://github.com/helios/bioruby-gem"
    %li
      = link "Source code for the biogems.info website", "https://github.com/pjotrp/biogems.info"

%p
  Other important links
  %ul
    %li
      = link "BioRuby", "http://bioruby.org/"
    %li
      = link "The Ruby programming language", "http://www.ruby-lang.org/en/"
    %li 
      = link "RVM - for running multiple Ruby versions", "https://rvm.beginrescueend.com/"
      

