-# index.html for biogems.info

-#= partial "requires_prerelease"
-#= content_navigation("What is Compass?", "Using Compass with StaticMatic", "Using Compass's CSS Frameworks")

#plugins
  #list
    %table
      %tr
        %th
          = "#"
        %th{ :align => "left" } 
        %th{ :align => "left" } biogem 
        %th{ :align => "left" } description
        %th{ :align => "left" } by
        %th.cite{ :align => "left" } cite 
        %th.status{ :align => "left" } stat
        %th.version{ :align => "left" } version
        %th.released{ :align => "left" } released
        %th.issues{ :align => "left" } issues
        %th.dl{ :align => "left" } dl*)
        %th.dl{ :align => "left" } 90d*)
      - by_popularity do |i, dl90, dl, name, status, version, released, descr, cite, author, home, docs, src, issues, num_issues, trend_direction, rank90|
        - rowclass = "odd"
        - if i.even?
          - rowclass = "even"
        %tr
          %td{ :align => "right", :class => "#{rowclass}" }
            .index
              <a name="#{name}">
              = i
              </a>
          %td{ :align => "right", :class => "#{rowclass}" }
            .trend
              - if trend_direction ==1 
                %img#uparrow{:src => "./images/up1.png", :width=>"20", :title => "trend is up", :alt => "+"}
              - if trend_direction ==-1
                %img#uparrow{:src => "./images/down1.png", :width=>"20", :title => "trend is down", :alt => "-"}
              - if status == 'new' 
                %img#uparrow{:src => "./images/bioruby-gem.png", :width=>"20", :title => "new biogem!", :alt => "!"}
          %td{ :class => "#{rowclass}" }
            .name
              = link name.gsub(/[_-]/,' '), "http://rubygems.org/gems/#{name}"
          %td{ :class => "#{rowclass}" }
            .descr
              = descr
              - if docs and docs != ''
                = link " ... ", docs
          %td{ :class => "#{rowclass}" }
            .author
              = author
          %td{ :class => "#{rowclass}" }
            .cite
              - if cite and cite != ''
                = link "doi", cite
          %td{ :class => "#{rowclass}" }
            .status
              - if status == 'core'
                %img#uparrow{:src => "./images/bioruby-gem.png", :width=>"20", :title => "BioRuby core gem!", :alt => "!"}
              - else
                = status
          %td{ :align => "right", :class => "#{rowclass}" }
            .version
              = link version, src
          %td{ :align => "right", :class => "#{rowclass}" }
            .released
              = released
          %td{ :class => "#{rowclass}" }
            .issues
              = link num_issues.to_s, issues
          %td{ :align => "right", :class => "#{rowclass}" }
            .dl
              = link dl.to_s, "http://rubygems.org/gems/#{name}/stats"
          %td{ :align => "right", :class => "#{rowclass}" }
            .dl
              = dl90.to_s
  .footnote 
    <b>*)</b> gem downloads (dl total &amp; dl last 90 days) from 
    = link "rubygems.org", "http://rubygems.org"
    as of
    = Time.now.to_s.split[0]
