-# index.html for biogems.info

-#= partial "requires_prerelease"
-#= content_navigation("What is Compass?", "Using Compass with StaticMatic", "Using Compass's CSS Frameworks")

#plugins
  #list
    %table
      %tr
        %th
          = "#"
        %th{ :align => "left" } 
        %th{ :align => "left" } biogem 
        %th{ :align => "left" } description
        %th{ :align => "left" } by
        %th.cite{ :align => "left" } cite 
        %th.status{ :align => "left" } status
        %th.version{ :align => "left" } version
        %th.released{ :align => "left" } released
        %th.issues{ :align => "left" } issues
        %th.github source 
        %th.citest build status
        // %th.commit{ :align => "left" } commit
        %th.dl{ :align => "left" } 7d&nbsp;&nbsp;
        %th.dl{ :align => "left" } 90d*)
        %th.commits{ :align => "left" } 7d&nbsp;&nbsp;
        %th.commits{ :align => "left" } 90d**)
        %tr
          %td{ :colspan => 12}
          %td.dl{ :colspan => 2}
            downloads
          %td.commits{ :colspan => 2}
            commits
      - by_popularity do |i, dl90, dl, name, status, version, released, descr, cite, author, home, docs, src, issues, num_issues, test_info, commit, trend_direction, rank90, c7, c90, c7_color, c90_color|
        - rowclass = "odd"
        - if i.even?
          - rowclass = "even"
        %tr
          %td{ :align => "right", :class => "#{rowclass}" }
            .index
              <a name="#{name}">
              = i
              </a>
          %td{ :align => "right", :class => "#{rowclass}" }
            .trend
              - if trend_direction ==1 
                %img#uparrow{:src => "./images/up1.png", :width=>"20", :title => "trend is up", :alt => "+"}
              - if trend_direction ==-1
                %img#uparrow{:src => "./images/down1.png", :width=>"20", :title => "trend is down", :alt => "-"}
              - if status == 'new' 
                %img#uparrow{:src => "./images/bioruby-gem.png", :width=>"20", :title => "new biogem!", :alt => "!"}
          %td{ :class => "#{rowclass}" }
            .name
              = link name.gsub(/[_-]/,' '), "http://rubygems.org/gems/#{name}"
          %td{ :class => "#{rowclass}" }
            .descr
              = descr
              - if docs and docs != ''
                = link " (...)", docs
          %td{ :class => "#{rowclass}" }
            .author
              = author
          %td{ :class => "#{rowclass}" }
            .cite
              - if cite and cite != ''
                %a{:href => cite}
                  %img#git{:src => "/images/books_64.png", :height=>"25", :alt => "reference"}
          %td{ :class => "#{rowclass}" }
            .status
              - if name == 'bio' or name == 'bio-core' or name == 'bio-core-ext' or name == 'bio-biolinux' or status == 'core' or status == 'bio'
                %img#uparrow{:src => "./images/bioruby-gem.png", :width=>"20", :title => "BioRuby core gem!", :alt => "!"}
              - elsif status == 'bio-core'
                %img#pickaxe{:src => "./images/pickaxe.png", :width=>"30", :title => "bio-core gem!", :alt => "!"}
              - elsif status == 'bio-core-ext'
                %img#pickaxe{:src => "./images/pickaxe.png", :width=>"30", :title => "bio-core-ext gem!", :alt => "!"}
              - elsif status == 'bio-biolinux'
                %img#anvil{:src => "./images/biolinux.png", :width=>"30", :title => "bio-biolinux gem!", :alt => "!"}
              - elsif status == 'stable'
                %img#anvil{:src => "./images/anvil.png", :width=>"30", :title => "Stable biogem!", :alt => "!"}
              - else
                = status
          %td{ :align => "right", :class => "#{rowclass}" }
            .version
              = link version, "http://rubygems.org/gems/#{name}"
          %td{ :align => "right", :class => "#{rowclass}" }
            .released
              = released
          %td{ :class => "#{rowclass}" }
            .issues
              = link num_issues.to_s, issues
          %td{ :align => "center", :class => "#{rowclass}" }
            .commit
              - if src =~ /git/
                %a{:href => src}
                  %img#git{:src => "/images/commit.png", :width => "30", :alt => "github"}
          %td{ :align => "center", :class => "#{rowclass}" }
            .citest
              - if test_info
                %a{:href => test_info[:url]}
                  %img#git{:src => test_info[:image]}
          // %td{ :align => "center", :class => "#{rowclass}" }
          //  .github
          //    - if src =~ /git/
          //      %a{:href => commit}
          //        %img#git{:src => "/images/git-logo.png", :width=>"80", :alt => "github"}
          %td{ :align => "right", :class => "#{rowclass}" }
            .dl
              = link dl.to_s, "http://rubygems.org/gems/#{name}/stats"
          %td{ :align => "right", :class => "#{rowclass}" }
            .dl
              = dl90.to_s
          %td{ :align => "right", :class => "#{rowclass}", :style => "background: #{c7_color}" }
            .commits
              - if src =~ /git/
                = link_to c7.to_s,commit
              - else
                = c7.to_s
          %td{ :align => "right", :class => "#{rowclass}", :style => "background: #{c90_color}" }
            .commits
              - if src =~ /git/
                = link_to c90.to_s,commit
              - else
                = c90.to_s
  .footnote 
    <b>*)</b> gem downloads (dl total &amp; dl last 90 days) from 
    = link "rubygems.org", "http://rubygems.org"
    as of
    = Time.now.to_s.split[0]
    %br
      %strong **)
      number of commits on GitHub (last 7 days &amp; last 90 days)
#news
  = partial('news')
