-# index.html for biogems.info

-#= partial "requires_prerelease"
-#= content_navigation("What is Compass?", "Using Compass with StaticMatic", "Using Compass's CSS Frameworks")

#plugins
  #list
    %table
      %tr
        %th
          = "#"
        %th{ :align => "left" }
          plugin
        %th{ :align => "left" }
          description
        %th{ :align => "left" }
          by
        %th{ :align => "left" }
          dl
          %sup
            %b
              *)
      - by_popularity do |i, dl, name, descr, author|
        %tr
          %td{ :align => "right" }
            .index
              = i
          %td
            .name
              = name
          %td
            .descr
              = descr
          %td
            .author
              = author
          %td{ :align => "right" }
            .dl
              = dl
  .footnote
    *) gem downloads from 
    = link "rubygems.org", "http://rubygems.org"
    as of
    = Time.now.to_s
