#header
  .imgtitle
    %img#logo{:src => "./images/bioruby-gem.png", :alt => "biogems.info"}
  %div
    .maintitle
      = link "Biogems.info", "/"
  %div{ :style => "background-color: #" + "%06x" % (rand * 0xffffff) }
    &nbsp;
  .subheader
    %div{ :align => "right", :style => "float: right" }
      = link "Ruby for bioinformatics", "http://biogems.info/"
      |
      = link "RSS", "/rss.xml"
  .tabs
    %span{ :style => "background-color: #880000" }
      |
      - if current_page == '/index.html'
        %span{ :style => "background-color: #550009" }
          = link "&nbsp;Biogems&nbsp;", "/"
      - else
        = link "Biogems", "/"
      |
      - if current_page == '/usersmap.html'
        %span{ :style => "background-color: #550009" }
          = link "&nbsp;People&nbsp;", "/usersmap.html"
      - else
        = link "People", "/usersmap.html"
      |

