#header
  .imgtitle
    %img#logo{:src => "./images/bioruby-gem.png", :alt => "biogems.info"}
  %div
    .maintitle
      = link_to "Biogems.info", "/"
  %div{ :style => "background-color: #" + "%06x" % (rand * 0xffffff) }
    &nbsp;
  %div
    .subheader
      .tabs
        %span{ :style => "background-color: #880000" }
          |
          - if current_page == '/index.html'
            %span{ :style => "background-color: #550009" }
              = link_to "&nbsp;Biogems&nbsp;", "/"
          - else
            = link_to "Biogems", "/"
          |
          - if current_page == '/rubygems.html'
            %span{ :style => "background-color: #550009" }
              = link_to "&nbsp;Rubygems&nbsp;", "/rubygems.html"
          - else
            = link_to "Rubygems", "/rubygems.html"
          |
          - if current_page == '/biolinux.html'
            %span{ :style => "background-color: #550009" }
              = link_to "&nbsp;BioLinux&nbsp;", "/biolinux.html"
          - else
            = link_to "BioLinux", "/biolinux.html"
          |
          - if current_page == '/usersmap.html'
            %span{ :style => "background-color: #550009" }
              = link_to "&nbsp;People&nbsp;", "/usersmap.html"
          - else
            = link_to "People", "/usersmap.html"
          |
      .rightheader
        %span{ :align => "right", :style => "float: right" }
          - if current_page != '/biolinux.html'
            %i
              %small
                The future is bright for Ruby in bioinformatics!&nbsp;&nbsp;&nbsp;
          = link_to "Create a Biogem!", "/howto.html"
          |
          = link_to "BioRuby", "http://bioruby.org/"
          |
          %a{:href => "/rss.xml"}
            %img#git{:src => "/images/rss-small.png", :height => 16 , :alt => "RSS"}
