%h1 Create a Biogem!

%p
  %i Creating a Biogem is easy. New biogems get added monthly!
%p
  Biogem provides a set of tools for those Bioinformaticans who
  want to start coding an application, or a library for
  using/extending BioRuby's core library and sharing the code as a
  gem through rubygems.org. Biogems are automatically listed at
  biogems.info when the gem is pushed to rubygems.org, using the
  biogem tool, and the name of the gem starts with bio- (bio dash),
  e.g. bio-fasta or bio-gff3.
%p
  Biogem aims to encourage open source software development, and provide 
  tools to support 
  = link_to "bazaar", "http://en.wikipedia.org/wiki/The_Cathedral_and_the_Bazaar"
  programming. In our interpretation:
  %ul
    %li Every good work of software starts by scratching a developer's personal itch
    %li Release source code early and often
    %li With enough users, almost every problem is quickly known, and a fix obvious
    %li Many heads are inevitably better than one
    %li Good programmers know what to write. Great ones know what to rewrite (and reuse)
%p
  We suggest for bioinformatics
  %ul
    %li Use Ruby and Biogem software generation, or do not repeat yourself (DRY)!
    %li Use the foreign function interface (FFI) for performance
    %li Use unit tests and specifications (RSpec) for both agility and robustness

%p
  // When you use Biogem, please cite R. Bonnal et al., Bioinformatics 2012 (submitted).
%p
  Further reading:
%p
  %ul
    %li 
      = link_to "Biogem README", "/doc/README_rdoc.html"
    %li
      = link_to "Create a Biogem!", "/doc/Tutorial_rdoc.html"
    %li
      = link_to "Hacking the Biogem tool (DRY)!", "https://github.com/pjotrp/bioruby-gem/blob/master/doc/biogem-hacking.md"
    %li
      = link_to "Source code for Biogem", "https://github.com/helios/bioruby-gem"
    %li
      = link_to "Source code for the biogems.info website", "https://github.com/pjotrp/biogems.info"

%p
  Other important links
  %ul
    %li
      = link_to "BioRuby", "http://bioruby.org/"
    %li
      = link_to "The Ruby programming language", "http://www.ruby-lang.org/en/"
    %li 
      = link_to "RVM - for running multiple Ruby versions", "https://rvm.beginrescueend.com/"
      

