-# index.html for biogems.info

-#= partial "requires_prerelease"
-#= content_navigation("What is Compass?", "Using Compass with StaticMatic", "Using Compass's CSS Frameworks")

#top_newsitem
  %p
    New: 
    = link_to "CloudBioLinux","http://cloudbiolinux.org/"
    packages are now listed on 
    = link_to "biogems.info","/biolinux.html"
    !

#plugins
  #list
    %table
      %tr
        %th
          = "#"
        %th{ :align => "left" } 
        %th{ :align => "left" } biogem 
        %th{ :align => "left" } description
        %th.authors{ :align => "left" } by
        %th.cite{ :align => "left" } cite 
        // %th.status{ :align => "left" } status
        %th.version{ :align => "left" } version
        %th.released{ :align => "left" } released
        %th.stargazers{ :align => "left" } stars
        %th.stargazers{ :align => "left" } 
        %th.issues{ :align => "left" } issues
        %th.github source 
        %th.citest build
        // %th.commit{ :align => "left" } commit
        %th.dl{ :align => "left" } total
        %th.dl{ :align => "left" } 90d*)
        %th.commits{ :align => "left" } 7d&nbsp;&nbsp;
        %th.commits{ :align => "left" } 90d**)
        %tr
          %td{ :colspan => 13}
          %td.dl{ :colspan => 2}
            downloads
          %td.commits{ :colspan => 2}
            commits
      - by_popularity do |i, dl90, dl, name, status, version, released, descr, cite, author, home, docs, src, stargazers, num_stargazers, issues, num_issues, test_info, commit, trend_direction, rank90, c7, c90, c7_color, c90_color|
        - rowclass = "odd"
        - if i.even?
          - rowclass = "even"
        %tr
          %td{ :align => "right", :class => "#{rowclass}" }
            .index
              <a name="#{name}">
              = i
              </a>
          %td{ :align => "right", :class => "#{rowclass}" }
            .trend
              - if trend_direction ==1 
                %img#uparrow{:src => "./images/up1.png", :width=>"20", :title => "trend is up", :alt => "+"}
              - if trend_direction ==-1
                %img#uparrow{:src => "./images/down1.png", :width=>"20", :title => "trend is down", :alt => "-"}
              - if status == 'new' 
                %img#uparrow{:src => "./images/bioruby-gem.png", :width=>"20", :title => "new biogem!", :alt => "!"}
          %td{ :class => "#{rowclass}" }
            .name
              = link_to name.gsub(/[_-]/,' '), "http://rubygems.org/gems/#{name}"
          %td{ :class => "#{rowclass}" }
            .descr
              = descr
              - if docs and docs != ''
                = link_to " (...)", docs
              - if name == 'bio' or name == 'bio-core' or name == 'bio-core-ext' or name == 'bio-biolinux' or status == 'core' or status == 'bio'
                %img#uparrow{:src => "./images/bioruby-gem.png", :width=>"15", :title => "BioRuby core gem!", :alt => "!", :align => "right" }
              - elsif status == 'bio-core'
                %img#pickaxe{:src => "./images/pickaxe.png", :width=>"20", :title => "bio-core gem!", :alt => "!", :align => "right" }
              - elsif status == 'bio-core-ext'
                %img#pickaxe{:src => "./images/pickaxe.png", :width=>"20", :title => "bio-core-ext gem!", :alt => "!", :align => "right" }
              - elsif status == 'bio-biolinux'
                %img#anvil{:src => "./images/biolinux.png", :width=>"20", :title => "bio-biolinux gem!", :alt => "!", :align => "right" }
              - elsif status == 'stable'
                %img#anvil{:src => "./images/anvil.png", :width=>"20", :title => "Stable biogem!", :alt => "!", :align => "right" }
              - else
                = status
          %td.authors{ :class => "#{rowclass}" }
            = author
          %td{ :class => "#{rowclass}" }
            .cite
              - if cite and cite != ''
                %a{:href => cite}
                  %img#git{:src => "/images/books_64.png", :height=>"25", :alt => "reference"}
          // %td{ :class => "#{rowclass}" }
          //   .status
          // (moved to descr)
          %td{ :align => "right", :class => "#{rowclass}" }
            .version
              = link_to version, "http://rubygems.org/gems/#{name}"
          %td{ :align => "right", :class => "#{rowclass}" }
            .released
              = released
          %td{ :class => "#{rowclass}" }
            .stargazers
              - if num_stargazers > 0
                = link_to num_stargazers.to_s, stargazers
          %td{ :class => "#{rowclass}" }
            .stargazers
              - if num_stargazers > 0
                %a{:href => stargazers}
                  %img#git{:src => "/images/hp_fav_star.png", :width => "25", :alt => "star"}
          %td{ :class => "#{rowclass}" }
            .issues
              = link_to num_issues.to_s, issues
          %td{ :align => "center", :class => "#{rowclass}" }
            .commit
              - if src =~ /git/
                %a{:href => src}
                  %img#git{:src => "/images/commit.png", :width => "30", :alt => "github"}
          %td{ :align => "center", :class => "#{rowclass}" }
            .citest
              - if test_info
                %a{:href => test_info[:url]}
                  %img#git{:src => test_info[:image]}
          // %td{ :align => "center", :class => "#{rowclass}" }
          //  .github
          //    - if src =~ /git/
          //      %a{:href => commit}
          //        %img#git{:src => "/images/git-logo.png", :width=>"80", :alt => "github"}
          %td{ :align => "right", :class => "#{rowclass}" }
            .dl
              = dl.to_s
          %td{ :align => "right", :class => "#{rowclass}" }
            .dl
              = dl90.to_s
          %td{ :align => "right", :class => "#{rowclass}", :style => "background: #{c7_color}" }
            .commits
              - if src =~ /git/
                = link_to c7.to_s,commit
              - else
                = c7.to_s
          %td{ :align => "right", :class => "#{rowclass}", :style => "background: #{c90_color}" }
            .commits
              - if src =~ /git/
                = link_to c90.to_s,commit
              - else
                = c90.to_s
  .footnote 
    <b>*)</b> gem downloads (total &amp; last 90 days) from 
    = link_to "rubygems.org", "http://rubygems.org"
    as of
    = Time.now.to_s.split[0]
    %br
      %strong **)
      number of commits on GitHub (last 7 days &amp; last 90 days)
#news
  // = partial('news')
  // === The following embeds news as a seperate URL in an iframe (also works!)
  %iframe{ :src=>"news.html", :height => "2000px;", :frameborder => "0" }
  // === The following embeds news as a seperate URL in a div
  // .embed{ :style => "margin: 0 auto; width:100%; height:2000px; " }
  //  %object{ :type => "text/html", :data => "http://thebird.nl/", :style => "width:100%; height:100%; margin:1%;"}

